
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#1a1628;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:"Cormorant Garamond",serif;

}

.book{

    width:min(1400px,95vw);

    height:850px;

    display:flex;

    border-radius:14px;

    overflow:hidden;

    box-shadow:
        0 40px 120px rgba(0,0,0,.6);

}

.page{

    width:50%;

    background:#f6f2e8;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:80px;

}

.left{
    background:#f5f1e6;

}

.right{
    background:#f5f1e6;

}

.page-content{
    text-align:center;

}

h1{

    font-family:"Cinzel",serif;

    font-size:58px;

    color:#7d2323;

}

h2{

    margin-top:70px;

    font-size:32px;

}

p{

    font-size:30px;

    margin-top:10px;

}

h3{

    font-family:"Cinzel",serif;

    font-size:56px;

}

h4{

    margin-top:30px;

    font-size:38px;

}

.ornament{

    margin-top:80px;

    font-size:60px;

    color:#c9a66b;

}
