/* ================================================= */
/* RESET */
/* ================================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Cormorant Garamond",serif;
}

/* ================================================= */
/* PAGE */
/* ================================================= */

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background:
        linear-gradient(
            rgba(18,14,35,.55),
            rgba(18,14,35,.72)
        ),
        url("fond-bibliotheque.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

}

/* ================================================= */
/* ÉCRAN D'ACCUEIL */
/* ================================================= */

.home-screen{

    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:35px;

}

/* ================================================= */
/* COUVERTURE */
/* ================================================= */

.book-cover{

    width:430px;
    max-width:90%;

    cursor:pointer;

    animation:floatBook 5s ease-in-out infinite;

    transition:
        transform .35s,
        filter .35s;

    filter:
        drop-shadow(0 30px 45px rgba(0,0,0,.55))
        drop-shadow(0 0 20px rgba(255,190,70,.18));

}

.book-cover:hover{

    transform:
        translateY(-10px)
        scale(1.04);

    filter:
        drop-shadow(0 45px 80px rgba(0,0,0,.65))
        drop-shadow(0 0 45px rgba(255,190,70,.35));

}

.book-cover.open{

    animation:none;

    transform:
        perspective(1800px)
        rotateY(-25deg)
        translateX(-60px)
        scale(1.18);

    transition:1s ease;

}

/* ================================================= */
/* BOUTON */
/* ================================================= */

.open-button{

    padding:18px 55px;

    border:none;

    border-radius:999px;

    cursor:pointer;

    font-family:"Cormorant Garamond",serif;
    font-size:28px;

    color:#ffffff;

    background:#b58d45;

    transition:.35s;

}

.open-button:hover{

    transform:
        translateY(-3px)
        scale(1.05);

    background:#cea35b;

}

/* ================================================= */
/* ANIMATIONS */
/* ================================================= */

@keyframes floatBook{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0);
    }

}
